<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Socket.IO chat</title>
  <style>
    .form_style {
      padding: 1%;
      border: solid green;
      margin: auto;
      width: 600px;
    }

    .link_style {
      padding: 1%;
      margin: auto;
      width: 600px
    }

    .center {
      padding-bottom: 20px; 
      text-align: center
    }
  </style>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1 class='center text-uppercase' id="welcomeUser">Welcome!</h1>
        <div>
            <a class='btn btn-dark' href='/'>Logout</a>
        </div>
        <div id='error-container'></div>
        <div class='form_style text-center'>
            <h3 class='center'>Please choose a room and start chatting!</h3>
            <div class='form-group mb-3'>
                <label class="form-label" for="password">Select room: </label>
                <select name="rooms" id="rooms">
                    <option value='News'>News</option>
                    <option value='Covid19'>Covid19</option>
                    <option value='NodeJs'>NodeJs</option>
                </select>
            </div>
            <div class='center'>
                <button onclick='join()' class='btn btn-success'>Join Room</button>
                <button onclick="leaveRoom()" class='btn btn-danger'>Leave Room</button>
            </div>
            <h1 id='roomName'></h1>
            <br/>

            <div class="form-outline mb-4">
                <textarea type="text" id="roomMessage" value="" name="roomMessage"
                    class="form-control form-control-lg"></textarea>
                <button class="btn btn-dark btn-block btn-lg " id="send" onClick='sendMessage()'>Send message</button>
            </div>
            <div id = "outer-container">
                <h4>Chat Box</h4>
             <div id = "message-container"></div></div>
            <div id='user-typing'></div>
        </div>
    </div>
</body>

<script>
    username = getCookie('username')
    document.getElementById("welcomeUser").innerHTML = "Welcome back " + username + "!"
    // Username Validation
    if(username==''){
        console.log('user not logged in')
        window.location.replace("http://localhost:3000")
    }

    const client = io()

    client.on('welcome', (message) => {
        addMessage(message)
    })

    client.on('newMessage', (message) => {
        addMessage(message)
    })

    // Send message to selected room
    function sendMessage() {
        message = document.getElementById('roomMessage').value

        if(message != ''){
        var roomName = document.getElementById('roomName').innerHTML
        messageSend = {
            room: roomName,
            message: message,
            username: username
        }
        console.log("Message send"+messageSend)
        client.emit('messageRoom', messageSend)
        addMessage(messageSend)
        message.value=''
    }
    }

    function addMessage(message){
        document.getElementById('message-container').innerHTML += `<div> ${message.username}: ${message.message} </div>`
     }

       
    function join() {
        let roomNameH = document.getElementById('roomName')
        let roomNameDropdown = document.getElementById('rooms')
        let roomName = roomNameDropdown.options[roomNameDropdown.selectedIndex].value
        roomNameH.innerHTML = roomName
        client.emit('joinRoom', roomName)
    }

    function leaveRoom() {
        document.getElementById('roomName').innerHTML = ''
        document.getElementById('message-container').innerHTML= ''
        // send disconnect 
        client.emit('join', 'default')
       }

    function getCookie(cookieName) {
        let name = cookieName + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>

</html>